modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
APP_BASE_URL = "https://1288c23b-87f5-413d-9d65-ad3dfb89f4f4-00-35xwm8oq7i9dh.spock.replit.dev"
KEYCLOAK_AUTH_SERVER_URL = "https://accounts.gofo.app/"
KEYCLOAK_REALM = "oute"
KEYCLOAK_CLIENT_ID = "oute-ic-canvas"
KEYCLOAK_LOGIN_URL = "https://account.oute.app"
